body {
	background-color: #fff;
	max-width:100% !important;
	/*height:100% !important;*/
	font-size: 16px;
	font-family: Arial, Calibri;
}


/*================
 Document Dropbox
 ================*/
/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}

#doc{
	display:inline-block;
	padding: 20px;
	padding-right: 80px;
    vertical-align: top;

}

ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: block;
}
/*Link Appearance*/
ul#menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: #fc3f58;
    padding: 5px;
    display:inline-block;
    
    -moz-border-radius:10px;  /* for Firefox */
    -webkit-border-radius:10px; /* for Webkit-Browsers */
    border-radius:10px; /* regular */
    opacity:0.95; /* Transparent Background 50% */
}
ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #666;
    background: #FFFFAD;
    font-weight: normal;
    padding: 5px;
    display:block;
    text-size:15px;
    text-align: left;
    -moz-border-radius:0px;  /* for Firefox */
    -webkit-border-radius:0px; /* for Webkit-Browsers */
    border-radius:00px; /* regular */
    opacity:0.8; /* Transparent Background 50% */
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    /*top: 30px;
    left: 0px;*/
    width: 150%;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
ul#menu li ul.sub-menu li a:hover{
  background: #E6D493;
  color: #111;
}

/*====
 Divs
 ====*/


#root-container {
	text-align: center;
	padding: 10px;
	width:100%;
	height: 100%;
}

.heading {
	padding: 20px;
	font-size: 2.4em;
	font-weight: bold;
	color:#A80000;
}

#content {
	min-width:50%;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding-bottom: 10px;
}

#communicators {
	/*text-align: left;*/
}

.selectors {
	vertical-align: top;
	padding: 20px;
}
.selectors > * {
	display: block;
	padding-bottom: 5px;
}
.selectorsLabel {
	font-size: .8em;
	font-family: verdana;
}

.selectors > * > div {
	display: inline-block;
}

.selectorGroupHeading {
	font-size: 1.05em;
	font-weight: bold;
}

#div_pasbuilds {
	display: inline-block;
	text-align: left;
}

#div_pascommunicators {
	display: inline-block;
	text-align: left;
}

#info {
	clear:both;
	max-width: 100%;
}

#infoTableDiv {
	max-width:100%;
	text-align: center;
	padding: 20px;
}

#patches{
	max-width:100%;
	text-align: center;
	padding: 20px;
}

.infoTableCell {
	display: inline-block;
	padding: 5px;
}
.infoTableCell:hover {
	background-color: #FC3F58;
	font-weight:bold;
}

/* COMM/CONF table */
.header_row, .data_row {
	width:auto;
	padding: 5px;
	max-width: 100%;
}

.header_cell, .data_cell {
	vertical-align: text-top;
	display: inline-block;
	padding: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	min-height:100%;
}

.header_row {
	background-color: #FC3F58;
	color: #fff;
}


.header_cell {
	font-weight: bold;
	text-transform: capitalize;
	/*word-wrap: break-word;*/
}

.data_row {
}
.data_row:hover {
	background-color: #FFFFCE;
	border-color: #aaa;
	border-bottom: 1px;
	border-width: 1px;
}


.data_cell {
	color: #131212;
	overflow-wrap: break-word;
}
.data_cell:hover {
	background-color: #FFFFAD;
}
.data_cell a {
	text-decoration: none;
	color: #F76565;
	cursor : pointer;
}
.data_cell a:hover {
	color: #E03131;
}
.data_cell a:visited {
	color: #737373;
}

.data_cell[data-cellDispType='regular'], .header_cell[data-cellDispType='regular'] {
	width:9%;
}
.data_cell[data-cellDispType='link'], .header_cell[data-cellDispType='link']{
	width:15%;
}
/* --- */

a.download {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #FC3F58;
}
a.download:hover {
	color: #FFFFFF;
}

/*====
 Extras
 ====*/
hr { 
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.disabled {
	color: #aaa;
}
.disabled select {
	color: #aaa;
	border-color: #ddd;
	border-width: 1px;
}
/*.disabled input {
	color: #aaa;
	border-color: #ddd;
	border-width: 1px;
}*/
